/*-------------------hw_part1----------------------------------------*/
body{
    margin: 0;
}
.mainContainer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
.block{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dancingScript {
    font-family : 'Dancing Script', cursive;


}
.one{
    font-family: 'Fjalla One', sans-serif;
}

.indieFlower {
        font-family: 'Indie Flower', cursive;

    }
.rubikPixels {
        font-family: 'Rubik Pixels', system-ui;
    }
.aveDisplay {
        font-family: 'Sedgwick Ave Display', cursive;
    }
/*-------------------------hw_part2-----------------------------------------*/

.mainContainer2{
    width: 100%;
    height: 250px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block2{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}

.block2:hover{
    background-color: gray;
    border-radius: 50%;
    transition: 2s;
}
/*------------------------hw_part3--------------------------------------------*/

body{
    padding: 15px;
}
.blocksColumn {
    width: 98%;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.columnMain{
    width: 98%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocksRow{
   width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.h400{
    height: 400px;
}
.h500{
    height: 500px;
}
.h800{
    height: 800px;
}
.colorDodgerblue{
    background-color: dodgerblue;
}
.colorCornflowerblue{
    background-color: cornflowerblue;
}
.header1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 100px;
    text-align: center;
    transition: 2s;
}
.header2{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 50px;
    text-align: center;
    transition: 2s;
}
.header1:hover{
    transform: scale(1.2);
    transition: 2s;
}
.header2:hover{
    transform: scale(1.2);
    transition: 2s;
}
/*---------------------Additional task 1------------------------------------------------*/
.containerAdd1{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxAdd1{
    width: 150px;
    height: 120px;
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2{
    font-size: 80px;
}
.red{
    color: red;
}
/*--------------------------------Additional task 2------------------------------------------*/
.containerAdd2{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.colorBox{
    width: 220px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border: black solid 3px;
    border-radius: 10px;
    box-shadow: -17px -13px 37px -4px rgba(0,0,0,0.61);

}
.colorBox h2{
    font-size: 25px;
    text-align: center;
}
.headerAdd2{
    text-align: center;
    font-size: 80px;
}
.black{
    background-color: black;
}
.redB{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.fuchsia{
    background-color: fuchsia;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.maroon{
    background-color: maroon
}
.olive{
    background-color: olive;
}
.whiteText{
    color: white;
}