@media screen and (min-width: 300px) and (max-width: 500px) {

    .grid {
        grid-template-areas:
    "header"
    "article"
    "aside";
        grid-template-columns: 100vw;
        grid-template-rows: 1fr 3fr 1fr;
    }
}