body{
    margin: 0;
}
header{
    height: 15vh;
}
header svg{
    margin-top: 2.5vh;
    width: 14vw;
    height: 6vh;

}
.padding-135{
    padding: 0 9vw;
    box-sizing: border-box ;
}
nav a{
    height: 6vh;
    text-decoration: none;
    color: #99A2AA;
    font-family: Rubik, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 60px;
    margin: 0 1vw;
}
.section-1{
    height: 45vh;
    background: #FEC524;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    padding-bottom: 3vh;
}
.section-1>div>h1{
    color: #FFF;
    width: 35vw;
    font-family: Rubik, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.section-1>div>p{
    color: #0E2F4B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}
.section-1 input{
    width: 40vw;
    height: 7vh;
    border-radius: 10px;
    background: #FFF;
    border: none;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}
.section-1 input[type="text"]::placeholder{
    color: #757575;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.button-menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -60px;
}
.section-1 button{
    width: 19vw;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    border: none;
    margin-right: 30px;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}
.button-menu img{
    margin: 0 20px;
}
.section-2{
    height: 78vh ;
    background: #F8F8F8;
    display: flex;
}
.section-2-information{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.section-2-information h1{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 14vw;
}
.section-2-information p{
    color: #0E2F4B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 25vw;
}

.section-2-options{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 7vh;
}
.section-2-options div{
    width: 24vw;
    height: 16vh;
}
.section-2-options h3{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    max-width: 17vw;
}
.section-2-options a{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}
.section-3{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: #042C4B;
}
.section-3 h1{
    color: #F8F8F8;
    font-family: Rubik, sans-serif;
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 60px;
    max-width: 40vw;
}
.section-3 p{
    color: #99A2AA;
    font-family: "Open Sans", sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 30px;
    max-width:25vw;
}
.section-3 button{
    width: 305px;
    height: 80px;
    border-radius: 10px;
    background: #FDC13D;
    color: #0E2F4B;
    border: none;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 80px;
}
.section-4{
    background: #F8F8F8;
    height: 86vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.s-4-yellow-box{
    margin-top: 5vh;
    width: 80vw;
    height: 20vh;
    border-radius: 10px;
    background: #FDC13D;
    padding: 4vh 5vh;
}
.section-4 h3{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 0;
}
.section-4 p{
    color: #0E2F4B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.section-4 a{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}
.section-4 h1{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.s-4-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
    box-sizing: border-box;
}
.s-4-container>div>h3{
    max-width: 10vw;
}
.section-5{
    height: 62vh;
    background: #0E2F4B;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.section-5 h1{
    color: #F8F8F8;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.section-5 p{
    color: #99A2AA;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 95%;
}
.section-5 input[type="text"]{
    width: 505px;
    height: 78px;
    padding: 0 30px;
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background: #FFF;
}
.section-5 input[type="text"]::placeholder{
    color: #6C757D;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-5 input[type="submit"]{
    width: 248px;
    height: 78px;
    border-radius: 10px;
    background: #FDC13D;
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-left: 20px;
}
.section-6{
    height: 128vh;
    background: #F8F8F8;
    padding-top: 5vh;
}
.section-6 h1{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 0;
}
.section-6 img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
}
.s-6-box-1{
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.s-6-card{
    width: 49%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #FFF;
    padding: 10px;
    box-sizing: border-box;
}
.s-6-card h3{
    max-width:65%;
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}
.s-6-card>h3>span{
    color: #99A2AA;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.s-6-card p{
    color: #0E2F4B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 90%;
    margin: 0 20px;
}
.s-6-menu{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section-6 button{
    width: 32%;
    height: 35%;
    border-radius: 10px;
    background: #FFF;
    color: #99A2AA;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
}
aside{
    height: 50vh;
    background: #FEC524;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
aside h1{
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 20px 0 0 0;
}
aside p{
    color: #0E2F4B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
aside h3{
    color: #0E2F4B;
    font-family: Rubik, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}
footer{
    height: 77vh;
    background: #1D2023;
}
.footer-container{
    padding-top: 5vh;
    display: flex;
}
.footer-container>div{
    width: 25%;
}
.footer-container>div>h1{
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.footer-container>div>a{
    display: block;
    text-decoration: none;
    color: #99A2AA;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0.5vh;
    max-width: 80%;
}
hr{
    margin-top: 5vh;
}
